<div class="container">
  <mat-card class="hotel-card" *ngIf="selectedHotel; else notFound">
    <img
      mat-card-image
      [src]="selectedHotel.image"
      [alt]="selectedHotel.name"
    />
    <mat-card-content>
      <h2>{{ selectedHotel.name }}</h2>
      <p>
        {{ selectedHotel.address }}, {{ selectedHotel.city }},
        {{ selectedHotel.country }}
      </p>
      <p>Stars: {{ selectedHotel.stars }}</p>
    </mat-card-content>
  </mat-card>

  <mat-divider class="divider"></mat-divider>

  <h3>Rooms:</h3>
  <div>
    <div class="room-card" *ngFor="let room of selectedHotel?.rooms">
      <img mat-list-avatar [src]="room.image" [alt]="room.name" />
      <h3 mat-line>{{ room.name }}</h3>
      <p mat-line>{{ room.description }}</p>
      <p mat-line>Price: {{ room.price | currency : "USD" : "symbol" }}</p>
      <p mat-line>Max Persons: {{ room.persons }}</p>
      <p mat-line>Max Children: {{ room.children }}</p>
      <p mat-line>Amenities: {{ room.amenities.join(", ") }}</p>
      <p mat-line appAvalibility [isAvailable]="room.isAvailable">
        Availibility: {{ room.isAvailable ? "Available" : "Unavailable" }}
      </p>
      <button mat-raised-button color="primary" [disabled]="!room.isAvailable">
        Book Now
      </button>
    </div>
  </div>
</div>

<ng-template #notFound>
  <app-not-found></app-not-found>
</ng-template>
