<mat-toolbar>
  <span>Hotel Management</span>
  <span class="spacer"></span>
  <a mat-raised-button color="warn" routerLink="/">Home</a>
  <a mat-button routerLink="/management">Management</a>
  <a mat-button routerLink="/login" *ngIf="!isLoggedIn">Login</a>
  <a mat-button *ngIf="isLoggedIn" (click)="logout()">Logout</a>
  <span class="username" *ngIf="isLoggedIn"
    >Hello {{ userData?.displayName }}</span
  >
  <a mat-button (click)="toggleSidebar()" *ngIf="userData?.roles?.['admin']">
    <mat-icon>menu</mat-icon>
  </a>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" *ngIf="isSideBarOpen">
  <mat-sidenav #sidenav class="sidenav"> Admin Panel </mat-sidenav>
  <mat-sidenav-content>
    <div class="users" *ngFor="let user of users">
      <p mat-line>User: {{ user.displayName }}</p>
      <p mat-line>Role: {{ user.roles["admin"] ? "Admin" : "Regular User" }}</p>
      <button
        *ngIf="!user.roles['admin']"
        mat-raised-button
        color="primary"
        (click)="changeToAdmin(user)"
      >
        Make Admin
      </button>
      <button
        *ngIf="user.roles['admin']"
        mat-raised-button
        color="warn"
        (click)="changeToUser(user)"
        [disabled]="user?.displayName === 'Almighty Admin'"
      >
        Revoke Admin
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
